*_Ejercicio 1_*

Escribí un programa que sume, reste, multiplique y divida dos series de números de Pandas.

In [2]:
import pandas as pd
s1 = [3, 7, 12, 15, 21]
s2 = [1, 4, 10, 14, 19]
serie1 = pd.Series(s1)
serie2 = pd.Series(s2)

In [3]:
serie1 + serie2

0     4
1    11
2    22
3    29
4    40
dtype: int64

In [4]:
serie1 - serie2

0    2
1    3
2    2
3    1
4    2
dtype: int64

In [5]:
serie1 * serie2

0      3
1     28
2    120
3    210
4    399
dtype: int64

In [6]:
def sumar_series(serie_uno, serie_dos):
    return serie_uno + serie_dos

Ejercicio 2

Realizá un programa que compare (si son mayores, menores o iguales) los elementos de dos series de números de Pandas.

In [7]:
def comparacion(serie_uno, serie_dos):
    serie1 = pd.Series(serie_uno)
    serie2 = pd.Series(serie_dos)
    return serie1 >= serie2

comparacion([3, 7, 9, 14, 25], [1, 7, 10, 16, 19])

0     True
1     True
2    False
3    False
4     True
dtype: bool

Ejercicio 3

Escribí un programa para convertir un diccionario a una serie de Pandas.

In [8]:
def conversion(diccionario):
    return pd.Series(diccionario)

dict1 = {"a": 10, "b": 20, "c": 30, "d": 40, "e": 50}
conversion(dict1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

Ejercicio 4

Escribí un programa que dado un diccionario cuyos valores son listas de números, cree otro diccionario con las mismas claves, pero donde los valores sean una lista de números donde se potencia un número por el siguiente, tomándolos de a pares.

In [9]:
dict1 = {"a": [1,3,5,2], "b": [4,2,3,3]}

def lista_potenciada(diccionario):
    dict2 = {}
    for clave in dict1.keys():
        dict2[clave] = (diccionario[clave][0] ** diccionario[clave][1]), (diccionario[clave][2] ** diccionario[clave][3])
    return(dict2)
    
lista_potenciada(dict1)

{'a': (1, 25), 'b': (16, 27)}

In [10]:
dict_1 = {"a": [1,3,5,2], "b": [4,2,3,3]}
dict_2 = {}

def lista_potenciada(diccionario):
    lista_a = []
    lista_b = []
    
    for clave in dict_1.keys():
        if clave == "a":
            lista_a.append(diccionario[clave][0] ** diccionario[clave][1]) 
            lista_a.append(diccionario[clave][2] ** diccionario[clave][3])
            dict_2[clave] = lista_a
        else:
            lista_b.append(diccionario[clave][0] ** diccionario[clave][1]) 
            lista_b.append(diccionario[clave][2] ** diccionario[clave][3])
            dict_2[clave] = lista_b
    return dict_2
    
lista_potenciada(dict_1)

{'a': [1, 25], 'b': [16, 27]}

Ejercicio 5

Realizá un programa para crear y mostrar un DataFrame a partir de un diccionario y de unas etiquetas (o labels).

In [11]:
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}

labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

nuevo_DF = pd.DataFrame(datos_ejemplo, index= labels)
nuevo_DF

     nombre  puntaje  intentos  califica
a  Agustina     12.5         1         1
b     Diana      9.0         3         0
c     Karen     16.5         2         1
d    Julián     13.0         3         0
e    Emilio      9.0         2         0
f    Miguel     20.0         3         1
g     Mateo     14.5         1         1
h     Laura     10.0         1         0
i     Jorge      8.0         2         0
j     Lucas     19.0         1         1

Ejercicio 6

Escribí un programa que muestre un resumen de la información básica de un DataFrame y sus datos.

In [12]:
nuevo_DF.describe()

         puntaje   intentos   califica
count  10.000000  10.000000  10.000000
mean   13.150000   1.900000   0.500000
std     4.288551   0.875595   0.527046
min     8.000000   1.000000   0.000000
25%     9.250000   1.000000   0.000000
50%    12.750000   2.000000   0.500000
75%    16.000000   2.750000   1.000000
max    20.000000   3.000000   1.000000

Ejercicio 7

Escribí un programa que obtenga las 3 primeras filas de un DataFrame dado.

In [13]:
nuevo_DF.head(3)

     nombre  puntaje  intentos  califica
a  Agustina     12.5         1         1
b     Diana      9.0         3         0
c     Karen     16.5         2         1

Ejercicio 8

Realizá un programa que seleccione e impirma las columnas "nombre" y "puntaje" del DataFrama anterior.

In [14]:
df_modificado = nuevo_DF[["nombre", "puntaje"]]
df_modificado

     nombre  puntaje
a  Agustina     12.5
b     Diana      9.0
c     Karen     16.5
d    Julián     13.0
e    Emilio      9.0
f    Miguel     20.0
g     Mateo     14.5
h     Laura     10.0
i     Jorge      8.0
j     Lucas     19.0

Ejercicio 9

Escribí un programa que dado el DataFrame anterior imprima los nombres en mayúscula y la longitud de los mismos en una nueva tabla.

In [15]:
nombre_mayus = df_modificado["nombre"].str.upper()
nombre_mayus

a    AGUSTINA
b       DIANA
c       KAREN
d      JULIÁN
e      EMILIO
f      MIGUEL
g       MATEO
h       LAURA
i       JORGE
j       LUCAS
Name: nombre, dtype: object

In [16]:
columna_len = df_modificado["nombre"].str.len()
columna_len

a    8
b    5
c    5
d    6
e    6
f    6
g    5
h    5
i    5
j    5
Name: nombre, dtype: int64

In [17]:
nueva_tabla = pd.concat([nombre_mayus, columna_len], axis=1, ignore_index= True)
nueva_tabla.set_index(["nombre", "len"])

KeyError: "None of ['nombre', 'len'] are in the columns"

: